# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs/**
run-data

# ✅ Unignore parent paths first
!runs/client/
!runs/client/kubejs/
!runs/client/kubejs/server_scripts/
!runs/client/kubejs/server_scripts/**
!runs/client/kubejs/startup_scripts/
!runs/client/kubejs/startup_scripts/**
!runs/client/kubejs/client_scripts/
!runs/client/kubejs/client_scripts/**

repo